<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<header th:fragment="header">
    <div>
      <section>
          <table class="center-table">
          <tr>
              <th class="headerButton"><a class="headerButton-design" th:href="@{/}">Начало</a></th>
              <th class="headerButton">Публикуване</th>
              <th class="headerButton">Търсене</th>

          </tr>
          </table>
      </section>
    </div>
</header>

<footer th:fragment="footer" class="footer">
    <div>

    </div>
</footer>
</body>
</html>