<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
    <section class="navbar-inline">

        <tr>
            <!--- logo start -------->
            <div class="navbar">
                <img class="logo-img" src="/images/logo.png" alt="logo">
            </div>
            <!--- logo end -------->
            <td>
                <a class="advert-button">+ Добави обява</a>
            </td>


            <!----- profile button start ----->
            <td>
                <div class="profile-dropdown">
                    <input id="dropcheck" class="dropcheck" type="checkbox">
                    <label for="dropcheck" class="dropbtn">Профил</label>

                    <div class="profile-options">
                        <a th:href="@{/auth/login}"}>Вход</a>
                        <a th:href="@{/auth/register}">Регистрация</a>
                    </div>
                </div>
            </td>
            <!--- profile button end ------->

    </section>
</div>
</body>
</html>