.center-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.headerButton{
    text-align: center;
    background-color: rgba(75,75,75,0.62);
    width: 200px;
    height: 30px;
    border: none;
    font-weight: bold;
    color: white;
}

.headerButton-design{
    text-decoration: none;
    color: white;
    display: grid;
    width: 200px;
    height: 30px;
    align-content: center;
    caret-color: transparent;

}

.headerButton:hover{
    background-color: rgba(1,10,75,0.62);
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(55,55,55,0.88);
    min-height: 100px;
    width: 100%;
    margin-left: -8px;
}
