.navbar {
    width:100%;
    height: 45px;
}

.logo-img{
    border-radius: 25px;
    margin-left:50px;
    width: 150px;
    height: 40px;
    
}

.navbar-inline {
    display: inline-flex;
    caret-color: transparent;
}

.dropbtn {
    background-color: #0037ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: relative;
    display:block;
    cursor:pointer;
}

.profile-dropdown {
    position: absolute;
    right: 40px;
    color: white;
    font-weight: bold;
    align-self: center;
}

.profile-options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    margin-left: -20%;
}

.profile-options a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-options a:hover {
    background-color: #ddd;
}

.dropcheck {
    position: absolute;
    right: 0;
}

.dropcheck:checked ~ .profile-options {
    display: block;
}

.dropcheck:checked + .dropbtn{
    background-color: #0400b6;
}

.advert-button{
    position: absolute;
    right: 44.5%;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
    background-color: #0037ff;
    padding: 16px;
    border-radius: 15px;
}

.flag{
    left: 5%;
position: relative;
width: 20px;
height: 17px;
display: inline-grid;
border: 1px solid black;
}

.flag-inside-dropdown{
    left: 5%;
position: relative;
width: 15px;
height: 12px;
display: inline-grid;
border: 1px solid black;
margin-right:6px;
}

.text-inside-dropdown{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flags-options{
    display: none;
    position: absolute;
    margin-top:10px;
    background-color: #ddd;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -2%;
}

.flags-div{
    margin-top: -10px;
margin-left: 15px;
cursor: pointer;
padding: 20px 20px 20px 20px;
}

