.reg-login {
    width: 60%;
    border-radius: 25px;
    text-align: center;
    padding-bottom: 20%;
    margin: 2% auto auto;
}

.reg-login-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 150px;
    margin-left: 140px;
}

.reg-login-forms{
    align-self: center;
    border: 4px solid black;
    height: 300px;
}

.log-reg-table-form{
    display: inline;
    
}

.login-table{
    width: 370px;

}

.input-box-log-reg{
    width: 250px;
}

.reg-login-table{
   display: flex;

}

.vertical-line{
    border-left: 2px solid gray;
    height: 55%;
    position: absolute;
    margin-left: 28%;
}

.reg-table{
    margin-left: 7%;
}