.main-page{
    width:70%;
    height:400px;
    border: 3px solid blue;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    caret-color: transparent;
}

.category{
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid chocolate;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-color: whitesmoke;
    width: 100px;
    white-space: nowrap;
    caret-color: transparent;
}


.category-indentation{
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.brands-without-input{
    margin-top: 8px;
    margin-bottom: 3px;
    height: 30px;
}

.brands-without-input-indentation{
    margin-left: -24px;
    width: 25px;
}

.brands-with-input{
    margin-top: 8px;
    margin-bottom: 3px;
    height: 24px;
}