<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Kars.bg</title>
    <link href="/static/css/headerAndFooter.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div>
        <section class="navbar-inline">
            <tr>
                <!--- logo start -------->
                <div class="navbar">
                    <img class="logo-img" src="/static/images/logo.png" alt="logo">
                </div>
                <!--- logo end -------->

                <td>
                    <div class="flags-div">
                        <img class="flag" src="/static/images/flags/bg-flag.png" onclick="displayFlags()">
                        <div class="flags-options" id="flags">
                            <a class="text-inside-dropdown" th:href="@{/auth/login}"><img class="flag-inside-dropdown"
                                    src="/static/images/flags/en-flag.png">English</a>
                            <a class="text-inside-dropdown" th:href="@{/auth/register}"><img
                                    class="flag-inside-dropdown" src="/static/images/flags/de-flag.png">Deutsch</a>
                        </div>
                    </div>
                </td>

                <td>
                    <a class="advert-button">+ Добави обява</a>
                </td>


                <!----- profile button start ----->
                <td>
                    <div class="profile-dropdown">
                        <input id="dropcheck" class="dropcheck" type="checkbox">
                        <label for="dropcheck" class="dropbtn">Вход</label>
                    </div>
                </td>
            </tr>
    </div>
    <!--- profile button end ------->

    <div>
        <section>
            <table class="center-table">
                <tr>
                    <th class="headerButton"><a class="headerButton-design" th:href="@{/}">Начало</a></th>
                    <th class="headerButton"><a class="headerButton-design">Публикуване</a></th>
                    <th class="headerButton"><a class="headerButton-design">Търсене</a></th>

                </tr>
            </table>
        </section>
    </div>

    <div class="main-page">
        <section>
            <table>
                <!-- <tr>
        <td class="category category-indentation"> Марка</td>
        <td class="category category-indentation"> Модел</td>
        <td class="category category-indentation"> Първа регистрация</td>
        <td class="category category-indentation"> Километри до</td>
    </tr> -->

                <tr>
                    <td>
                        <div class="category-indentation">
                            <label for="brand-options" class="category"> Марка</label>
                            <br>
                            <select name="brands" class="brands-without-input" id="brand-options" onchange="isBrandSelected()">
                                <option value="default" class="category">Всички</option>
                                <option value="Mercedes-benz" class="category">Mercedes-benz</option>
                                <option value="VW" class="category">VW</option>
                            </select>
                        </div>
                    </td>

                    
                    <td>
                        <div class="category-indentation">
                            <label for="model-options" class="category"> Модел</label>
                            <br>
                            <select name="model" class="brands-without-input" id="model-options" disabled style="width:120px">
                                <option selected value="default" class="category">Всички</option>
                                <option value="Mercedes-benz" class="category">CLS 63</option>
                                <option value="VW" class="category">Golf 4</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="category-indentation">
                            <label for="dropdownYear" class="category">Година от</label>
                            <br>
                            <select class="brands-with-input" id="dropdownYear" style="width:120px;">
                                <option value="default" class="category">Всички</option></select>
                        </div>
                    </td>
                    <td>
                        <div class="category-indentation">
                            <label for="kilometers" class="category"> Километри до</label>
                            <br>
                            <select class="brands-with-input" id="kilometers" style="width: 140px;">
                                <option value="default" class="category">Всички</option></select>
                        </div>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                    <div class="category-indentation">
                        <label for="price-input" class="category"> Цена до</label>
                        <br>
                        <input class="brands-with-input" id="price-input" type="text" onblur="addFormat()" onclick="removeFormat()" style="width: 100px" value="Всички">
                        <select class="brands-without-input brands-without-input-indentation" id="price-selection" onchange="displaySelection()">
                            <option value="default">Всички</option>
                        </select>
                    </div>
                </td>
                </tr>
                
            </table>
        </section>
    </div>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script src="/static/js/navbar.js"></script>
</body>

</html>