<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Login to Kars.bg</title>
    <link href="/static/css/headerAndFooter.css" rel="stylesheet" th:href="@{/css/headerAndFooter.css}">
    <link href="/static/css/navbar.css" rel="stylesheet" th:href="@{/css/navbar.css}">
    <link href="/static/css/registerAndLogin.css" rel="stylesheet" th:href="@{/css/registerAndLogin.css}">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/headerAndFooter :: header"></div>


    <div class="reg-login">
        <div class="reg-login-forms">

            <table class="log-reg-table-form">
                <tr>
                    <td>
                        <p class="reg-login-text"> Вход</p>
                    </td>
                    <td>
                        <p class="reg-login-text"> Регистрация</p>
                    </td>
                </tr>
            </table>
            <div class="reg-login-table">
                <form>
            <table class="login-table">
                <tr>
                    <td>
                        <label for="input-box-log-reg">Имейл</label>
                        <br>
                        <input id="input-box-log-reg" class="input-box-log-reg" type="text">

                    </td>
                </tr>
                    
                        <td> 
                            <label for="input-box-log-reg">Парола</label>
                            <br>
                            <input id="input-box-loreg" class="input-box-log-reg" type="text">
                            
                        </td>
                </table>
                <button type="submit"> Вход!</button>
                </form>
                <div class="vertical-line"></div>

               <form class="reg-table">
                <table >
                    
                    <tr>
                    <td> 
                        <label for="input-box-log-reg">Имейл рег</label>
                        <br>
                        <input id="input-box-loreg" class="input-box-log-reg" type="text">
                        
                    </td>
                    </tr>
                    <tr>
                     <td> 
                        <label for="input-box-log-reg">Парола reg</label>
                        <br>
                        <input id="input-box-loreg" class="input-box-log-reg" type="text">
                        
                    </td>
                    </tr>
            </table>  
            <button type="submit"> Регистрирай ме!</button>
            </form>  
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div th:replace="fragments/headerAndFooter :: footer"></div>
</body>

</html>